      <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>
     <tbody id="book">
      <% books.each do |books| %>
        <tr>
          <td>
            <%= attachment_image_tag books.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
          </td>
          <td>
            <%= link_to book_path(books) do %>
              <%= books.title %>
            <% end %>
          </td>
          <td>
           <%= books.body %>
         </td>
        </tr>
      <% end %>
      </tbody>
      </table>